/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/HelloWorldApp/nbproject/private/
/HelloWorldApp/build/
/HelloWorldApp/dist/
/TEST/nbproject/private/
/TEST/dist/
/TEST/build/
/com.sjjcox.deskfan/nbproject/private/
/ObjectTest/nbproject/private/
/ObjectDemo/nbproject/private/
/ObjectTest/build/
/ObjectTest/dist/
/ObjectDemo/build/
/ArrayDemo/nbproject/private/
/ArrayDemo/build/
/ArrayCopyDemo/nbproject/private/
/ArrayCopyDemo/build/
/ArrayCopyOfDemo/nbproject/private/
/ArrayCopyOfDemo/build/
/VariablesExercises/nbproject/private/
/VariablesExercises/build/
/ArithmeticDemo/nbproject/private/
/ArithmeticDemo/build/
/com.sjjcox.InstanceofDemo/nbproject/private/
/com.sjjcox.InstanceofDemo/build/
/InstanceofDemo/nbproject/private/
/InstanceofDemo/build/
/DemoBreak/nbproject/private/
/DemoBreak/build/
/BreakWithLabelDemo/nbproject/private/
/BreakWithLabelDemo/build/
/ContinueDemo/nbproject/private/
/ContinueDemo/build/
/ContinueWithLabelDemo/nbproject/private/
/ContinueWithLabelDemo/build/
/ConwayLife/nbproject/private/
/ConwayLife/build/
/ConwayLife/dist/